<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Editer un post</h2>
    <form [formGroup]="postEditForm" (ngSubmit)="onSaveEditPost()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre"
               class="form-control" formControlName="titre">
      </div>
      <div class="form-group">
        <label for="contenu">Contenu</label>

        <textarea type="text" id="contenu"
                  class="form-control" rows="10" formControlName="contenu"></textarea>
        <button class="btn btn-success" [disabled]="postEditForm.invalid"
                type="submit">Editer
        </button>
      </div>
