<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts"><span class="glyphicon glyphicon-book"></span> Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="posts/new"><span class="glyphicon glyphicon-new-window"></span> Nouveau Post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup"><span class="glyphicon glyphicon-piggy-bank"></span> Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin"><span class="glyphicon glyphicon-log-in"></span> Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth"> <span class=" glyphicon glyphicon-log-out "></span> Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
